/*reset setup*/
body{
    margin: 0;
    padding: 0;
    color: black;
    font-family: Arial, Tahoma, sans-serif;
}
p{
    margin: 0;
    padding: 0;
}

#container{
    width: 1100px;
    height: 55px;
    margin: 0 auto;

    background-color: #eeeeee;
    border-left: 5px solid #8b0000;
    border-bottom: 2px solid #8b0000;
}

#container #menu .dr-menu .menu-item{
    float: left;
    padding: 19px 20px;
    font-weight: bold;
}

#container #menu .dr-menu .menu-item:hover{
    color: white;
    background-color: #8b0000;
}

#container #menu .dr-menu .menu-item .dr-menu.sub{
    display: none;
    position: absolute;
    margin-top: 18px;
    margin-left: -20px;
    background-color: #eeeeee;
    border-top: 2px solid #8b0000;
    color: black;
}

#container #menu .dr-menu .menu-item:hover .dr-menu.sub{
    display: block;
}

#container #menu .dr-menu .menu-item .dr-menu.sub .menu-item{
    float: none;
    border-bottom: 2px solid #b6b6b6;
}