body {
    padding: 0;
    margin: 0;

    color: white;
    font-family: Tahoma, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.page {
    width: 1884px;
}

.container {
    width: 1180px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    text-decoration: none;
}

/**************************section_text_2**************************/
#section_text_2 {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;

    background-color: #eeeeee;
}

#section_text_2 .alpha {
    float: left;
}

#section_text_2 .alpha img {
    height: 40px;
    width: 170px;
}

#section_text_2 .omega {
    float: right;
}

#section_text_2 .omega .btn_normal {
    display: flex;
    width: 155px;
    height: 50px;

    background-color: #f77825;
    border-radius: 5px;
}

#section_text_2 .omega a {
    float: right;
    text-decoration: none;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

/**************************section_header_1**************************/
#section_header_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: yellowgreen;
}

#section_header_1 .container a {
    color: #7f7f7f;
}

#section_header_1 .container li {
    display: inline;
}

#section_header_1 .container .right_socials{
    float: right;
    margin-right: 15px;
    font-size: 27px;
}

#section_header_1 .container .right_socials li{
    padding-left: 25px;
}

#section_header_1 #navbar-collapse-02 li{
    padding-right: 50px;
    font-size: 24px;
}

