body, p {
    margin: 0;
    padding: 0;
    font-family: Arial, Tahoma, sans-serif;
    color: black;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

#main {
    background-color: #e6e6e6;
    height: auto;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}

.container .form {
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;

}

.container .form h1 {
    margin: 0 auto;
    padding: 35px 0;
    width: 200px;
}

.container .form .input {
    height: 42px;
    background-color: #f7f7f7;
    border: 2px solid #f3f3f3;
    border-radius: 5px;
}

.container .form form > div {
    margin: 10px auto;
}

.container .form .input > * {
    background-color: #f7f7f7;
    margin: 0 10px;
}

.container .form .input label {
    margin-top: -20px;
    padding: 0;
    font-size: 8px;
    font-weight: bold;
}

.container .form .input input {
    border: none;
    font-size: 10px;
}

.container .form .input input:focus,
.container .form .input textarea:focus {
    outline: none;
}

.container .form .large-width {
    width: 425px;
}

.container .form .large-width input,
.container .form .large-width select {
    width: 405px;
    border: none;
}

.container .form .input.medium-width {
    width: 194px;
    margin-left: 35px;
}

.container .form .input.medium-width:nth-of-type(2) {
    float: right;
    margin-right: 35px;
    margin-top: 0;
}

.container .form .input.medium-width input {
    width: 174px;
}

.container .form .input select {
    margin-left: 6px;
    width: 411px    ;
}

.container .form .text-area {
    height: auto;
}

.container .form .text-area textarea {
    resize: vertical;
    border: none;
}

.container .form .button {
    margin-top: 20px;
    padding-bottom: 20px;
}


.container .form .button button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: #333333;
    color: white;
}


