.body {
    margin: 0;
    padding: 0;
    color: black;

    font-family: sans-serif, Arial, Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.page {
    width: 1890px;
}

.bold_text {
    font-weight: bold;
}

.blue_text {
    color: #2DC0E8;
}

.big_text {
    font-size: 30px;
}

.big_title {
    font-size: 60px;
}

.normal_text {
    font-size: 20px;
}

.blue_bg {
    background-color: #2dc0e8;
}

/******************section_normal_1*******************/
#section_normal_1 {
    height: 80px;
    width: 100%;

    border-bottom: #CFCFCF solid 4px;
}

#section_normal_1 .sixteen {
    padding-top: 15px;
}

#section_normal_1 .alpha {
    float: left;
    margin-left: 360px;
}

#section_normal_1 .alpha img {
    width: 170px;
    height: 40px;
}

#section_normal_1 .omega {
    float: right;
    margin-right: 345px;
}

#section_normal_1 .omega img {
    height: 40px;
    width: 40px;
}

#section_normal_1 .omega .htext_style {
    float: left;
    height: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;

    font-size: 23px;
    color: #B6B6B6;
}

.container {
    height: 1175px;
}

/******************section_normal_4_2*******************/
#section_normal_4_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 670px;
    width: 100%;

    background-color: #333333;
}

#section_normal_4_2 .container {
    height: 510px;
}

#section_normal_4_2 .alpha {
    float: left;
}

#section_normal_4_2 .alpha img {
    width: 550px;
    height: 510px;
}

#section_normal_4_2 .omega {
    float: right;
    margin-right: 20px;
    width: 570px
}

#section_normal_4_2 .omega > span {
    display: flex;
    margin-top: 10px;
}

#section_normal_4_2 .omega .big_title {
    display: flex;
    margin: 20px 0 0 0;
    color: white;
}

#section_normal_4_2 .omega .normal_text {
    margin-bottom: 55px;
    text-align: justify;
    line-height: 1.5;
    color: #8a8a8a;
}

#section_normal_4_2 .omega .btn_normal {
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

/******************section_normal_6*******************/
#section_normal_6 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 388px;
    width: 100%;

    border-bottom: #CFCFCF solid 4px;
    background-color: #EEEEEE;
}

#section_normal_6 .container {
    height: 290px;
}

#section_normal_6 .container .L1_style {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    font-size: 35px;
    color: #696969;
}

#section_normal_6 .container .L2_style {
    display: flex;
    justify-content: center;
    margin-bottom: 65px;

    font-size: 20px;
    color: #b3b3b3;
}

#section_normal_6 .container .stbox {
    display: inline-block;
    width: 575px;
    height: 143px;
    border-bottom: #CFCFCF solid 4px;
    border-radius: 5px;

    background-color: #ffffff;
}


#section_normal_6 .container .b_style {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 115px;
    height: 143px;
    background-color: #f5f5f5;
    border-radius: 5px 0 0 5px;
}

#section_normal_6 .container .b_style img {
    border-radius: 50%;
}

#section_normal_6 .container .txt_style {
    float: right;
    width: 420px;
    height: 143px;
    padding: 0 20px;

    line-height: 1.5;
}

#section_normal_6 .container .txt {
    padding-top: 10px;
    color: #656565;
}

#section_normal_6 .container .stars_span {
    display: flex;
}

#section_normal_6 .container .env_st {
    padding-left: 5px;
    color: #2dc0e8;
}

#section_normal_6 .container .alpha {
    float: left;
}

#section_normal_6 .container .omega {
    float: right;
}

/******************section_normal_6*******************/
#section_agency_5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 565px;
    width: 100%;
}

#section_agency_5 .container {
    height: 435px;
}


#section_agency_5 .center_text > * {
    display: flex;
    justify-content: center;

}

#section_agency_5 .container .f1_style .editContent{
    font-size: 35px;
    color: #4d8c5a;
}

#section_agency_5 .container .f2_style .editContent{
    width: 670px;
    margin: 50px 0;

    line-height: 1.3;
    color: #656565;
    text-align: center;
    font-size: 22px;
}

#section_agency_5 .container .second_link .get_2_btn{
    width: 315px;
    height: 80px;
    margin-bottom: 55px;

    font-size: 25px;
    font-weight: bold;
    border: #4d8c5a solid 4px;
    border-radius: 5px;
}

#section_agency_5 .container .get_2_btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section_agency_5 .container .slow_fade {
    text-decoration: none;
    color: #4d8c5a;
}

#section_agency_5 .container .rights_st .editContent,
#section_agency_5 .container .editContent .rights_st{
    color: #656565;
    font-size: 18px;
}

#section_agency_5 .container .editContent .pixfort_st{
    color: #4d8c5a;
    font-weight: bold;
    font-size: 18px;
}

#section_agency_5 .container .pix_inline_block{
    margin-top: 45px;
}

#section_agency_5 .container .pix_inline_block img{
    width: 40px;
    height: 40px;
    padding: 5px;
}




