.body {
    margin: -20px;
    padding: -20px;
    color: black;

    font-family: sans-serif, Arial, Tahoma;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.page {
    width: 1890px;
}

.bold_text{
    font-weight: bold;
}

.blue_text{
    color: #2DC0E8;
}

.big_text{
    font-size: 30px;
}

.big_title{
    font-size: 60px;
}

.normal_text{
    font-size: 20px;
}

.blue_bg{
    background-color: #2dc0e8;
}

/******************section_normal_1*******************/
#section_normal_1 {
    height: 80px;
    width: 100%;

    border-bottom: #CFCFCF solid 4px;
}

#section_normal_1 .sixteen {
    padding-top: 15px;
}

#section_normal_1 .alpha {
    float: left;
    margin-left: 360px;
}

#section_normal_1 .alpha img {
    width: 170px;
    height: 40px;
}

#section_normal_1 .omega {
    float: right;
    margin-right: 345px;
}

#section_normal_1 .omega img {
    height: 40px;
    width: 40px;
}

#section_normal_1 .omega .htext_style {
    float: left;
    height: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;

    font-size: 23px;
    color: #B6B6B6;
}

/******************section_normal_4_2*******************/
#section_normal_4_2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 670px;
    width: 100%;

    background-color: #333333;
}

#section_normal_4_2 .container{
    height: 510px;
    width: 1175px;
}

#section_normal_4_2 .alpha{
    float: left;
}

#section_normal_4_2 .alpha img{
    width: 550px;
    height: 510px;
}

#section_normal_4_2 .omega{
    float: right;
    margin-right: 20px;
    width: 570px
}

#section_normal_4_2 .omega>span{
    display: flex;
    margin-top: 10px;
}

#section_normal_4_2 .omega .big_title{
    display: flex;
    margin: 20px 0 0 0;
    color: white;
}

#section_normal_4_2 .omega .normal_text{
    margin-bottom: 55px;
    text-align: justify;
    line-height: 1.5;
    color: #8a8a8a;
}

#section_normal_4_2 .omega .btn_normal{
    padding: 20px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

